.header {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;

    .title {
      color: #f32c03;
    }
  }

  .navLinks {
    align-self: center;

    a {
      margin-right: 20px;
      font-size: 1.2rem;
      color: #18a2b8;
      text-decoration: none;
      text-transform: uppercase;
    }

    .activeLink {
      font-style: normal;
      font-weight: bold;
      color: #f32c03;
    }
  }
}
